*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --main-bg-primary: rgb(226, 52, 52);
    --main-bg-secondary: rgb(178, 32, 32);
    --main-bg-third: rgb(114, 13, 13);
}
html{
    width: 100vw;
    height: 100vh;
}
body{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 186, 186);
}

/* font-family: 'League Gothic', sans-serif;
font-family: 'Staatliches', cursive;
font-family: 'Tai Heritage Pro', serif; */

ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

ul li button{
    background-color: var(--main-bg-primary);
    border: none;
}

button{
    font-family: 'Staatliches', cursive;
}

header{
    display: flex;
    text-align: center;
    background-color: var(--main-bg-primary);
    height: 8%;
    border-bottom: 5px var(--main-bg-secondary) solid;
    padding: 10px;
    box-shadow: 10px 10px 10px yellow;
}

header h1{
    margin-right: 10px;
    color: white;
}

ul li a{
    color: var(--main-bg-third);
    border-left: 2px white solid;
    padding: 15px;
    display:flex;
    justify-content: space-around;
}

ul li a:hover{
    background-color: var(--main-bg-third);
    color: white;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 90%;
    background-color: rgb(176, 176, 176);
}

h1{
    font-family: 'League Gothic', sans-serif;
}

p{
    font-family: "Times New Roman"
}

#questionHolder button{
    padding: 20px;
    color: white;
    border-radius: 6px;
    background-color: var(--main-bg-primary);
    margin: 10px;
    width: 100%;
    font-size: larger;
    font-weight: 700;
}

#questionHolder button:hover{
    background-color: var(--main-bg-secondary);
}



/* main div{
    width: 80%;
    height: 95%;
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 4px 4px rgb(72, 72, 72);
    padding: 10px 15px;
} */

main .page{
    width: 80%;
    height: 95%;
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 4px 4px rgb(72, 72, 72);
    padding: 10px 15px;
    border-top: 10px var(--main-bg-secondary) solid;
}

footer{
    display: fixed;
    align-items: center;
    justify-content: center;
    bottom: 0;
    left: 0;
    height: 3%;
    background-color: var(--main-bg-secondary);
    box-shadow: -2px -2px 5px rgb(74, 74, 74);
}

#footerNav{
    display: fixed;
    bottom: 0;

}

/* Manipulated ID's "modal" */

#mainpage{
    display: block;
}

#mainpage button{
    padding: 30px;
    border: 2 black solid;
    background-color: var(--main-bg-primary);
    color: white;
    font-size: larger;
    font-weight: 800;
    border-radius: 6px;
}

#mainpage button:hover{
    background-color: var(--main-bg-secondary);
}


#questionpage{
    display: none;
}

#resultpage{
    display: none;
}


#aboutThis{
    display: none;
}

#questionHolder{
    display: inline-block;
    justify-content: center;
    justify-items: center;
    width: 50%;
    bottom: 0;
    border-top: 1px black solid;
    margin-top: 3%;
}

#natureModalMain ul li{
    display: block;
    /* justify-content: center;
    justify-items: center; */
    padding: 5px;
    margin: 5px auto;
    text-align: center;
    font-size: larger;
}

#natureModalMain h1{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

#resultpage img{
    width: 20%;
    box-shadow: 7px 7px rgb(94, 94, 94), 
                -7px -7px rgb(94,94,94),
                7px -7px rgb(94, 94, 94),
                -7px 7px rgb(94, 94, 94);
    margin-bottom: 1%;
}

#resultpage h1{
    font-family: 'League Gothic', sans-serif;
    color: var(--main-bg-primary)
}

#resultpage h3{
    margin-bottom: 1%;
}

#questionpage h2{
    margin-top: 5%;
}

.ability1{
    display:block;
    padding: 10px;
    /* float: left; */
    color:white;
    background-color: black;
    text-align: center;
    align-items: center;
    font-weight: 600;
}

.ability2{
    display:block;
    padding: 10px;
    /* float: left; */
    color:white;
    background-color: #9797ff;
    text-align: center;
    align-items: center;
    font-weight: 600;
}

.hidden_ab{
    display:block;
    padding: 10px;
    /* float: left; */
    color: white;
    background-color: red;
    text-align: center;
    align-items: center;
    font-weight: 600;
}

.modalAbility1{
    display: inline-block;
    padding: 10px;
    color: white;
    background-color: black;
}
.modalAbility2{
    display: inline-block;
    padding: 10px;
    color: white;
    background-color: #9797ff;
}
.modalAbilityH{
    display: inline-block;
    padding: 10px;
    color: white;
    background-color: red;
}

.starter{
    margin: 20px;
}

.starter input{
    width: 300px;
}

.cssMessage{
    margin-top: 2%;
    font-weight: 700;
    font-size: larger;
}

.cssFiller{
    font-weight: 600;
    margin-top: 2%;
    margin-bottom: 20px;
}

.resultPageh1{
    margin-bottom: 1%;
}

.pokeName{
    margin-bottom: 1%;
}

.loadingStyle{
    color: white;
    background-color: var(--main-bg-secondary);
    font-size: x-large;
    font-weight: 900;
}

.abilityEnt{
    float: right;
    background-color: white;
    border: 2px black solid;
    padding: 5px;
    border-radius: 40%;
    font-weight:900;
    font-size: x-small;
    z-index: 1;
}

/* MODAL Nature */

.modalN{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: white;
    background-color: rgb(165, 165, 165, 0.4);
}

.modalNContent{
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid black;
    width: 90%;
}

.close{
    float: right;
    color: red;
    text-decoration: none;
    cursor: pointer;
    border: 1px black solid;
    padding: 3px;
}

.close:hover{
    color: white;
    background-color: black;

}

/* Modal Ability */

.modalA{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: white;
    background-color: rgb(165, 165, 165, 0.4);
}
.modalAbilityContent{
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid black;
    width: 90%;
}
.modalAbilityContent h2{
    margin-bottom:1%;
}


/* MEDIA SCALING */

/* 600 mobile
768 table
lap 992
larg 1200 */

@media only screen and (min-width: 600px){
    body{
        background-color: white;
    }
}

/* @media only screen and (min-width: 768px){
    body{
        background-color: red;
    }
}

@media only screen and (min-width: 992px){
    body{
        background-color: purple;
    }
}

@media only screen and (min-width: 1200px){
    body{
        background-color: yellow;
    }
} */